body {
	margin: 50px 120px;
	background-color: #eef9bf;
}

h1 {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	letter-spacing: -0.004em;
	color: #75b79e;
	margin-bottom: 50px;
}

.timer {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #a7e9af;
	padding: 5px;
	border: 1px solid #99cea8;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.timer p {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #5d947f;
}

.time {
	font-weight: 900;
	color: #5d947f;
}

.cards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 34px;
	justify-content: center;
	align-items: center;
}

.card {
	height: 146px;
	width: 117px;
	position: relative;
}

.card img {
	width: 100px;
}

.face {
	height: 100%;
	width: 100%;
	background: #a7e9af;
	border: 1px solid #99cea8;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	backface-visibility: hidden;
	transition: all 1s ease;
	transform-style: preserve-3d;
}

.back-face {
	transform: rotateY(180deg);
}

.flipped .front-face {
	transform: rotateY(-180deg);
}

.flipped .back-face {
	transform: rotateY(0deg);
}


/* ------------------------RESPONSIVE------------------------ */

@media (max-width: 777px) {

	body {
		margin: 50px;
	}

	h1 {
		font-size: 36px;
		line-height: 42px;
	}
	
}